Package: com.shepgoba.darkphone12
Name: DarkPhone12
Depends: mobilesubstrate, me.nepeta.libcolorpicker
Version: 1.0
Architecture: iphoneos-arm
Description: Full dark mode for the phone app!
Maintainer: shepgoba <shepgoba@gmail.com>
Author: shepgoba <shepgoba@gmail.com>
Icon: file:///Library/PreferenceBundles/DarkPhone12.bundle/icon@2x.png
Section: Tweaks
