Package: com.shepgoba.darkphone12
Name: DarkPhone12
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Full dark mode for the phone app! (iOS 12)
Maintainer: shepgoba
Author: shepgoba
Section: Tweaks
Version: 0.0.1
Installed-Size: 112
